<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
    <title>Your Website</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="{% url 'home' %}" class="logo-link">
                    <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
                    <h1>Skillucket</h1>
                </a>
                {% if user.is_authenticated %}
                Hello {{ user.username }}
                <ul class="nav-links">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
                {% else %}
                <ul class="nav-links">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>
