<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
    <title>Your Website</title>
</head>
<body>
    <div class="container">
        <img src="media/logo/logo.png" alt="Logo" class="logo">

        <h1>Skillucket</h1>
        <div class="buttons">
            <a href="{% url 'register' %}">
                <button class="register-button">Register</button>
            </a>
            <a href="{% url 'login' %}">
                <button class="login-button">Login</button>
            </a>
        </div>
    </div>
</body>
</html>
