{% extends 'base.html' %}
{% load static %}


{% block title %}Home Page{% endblock %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'skillucketApp/css/custom.css' %}">
</head>
<body>
    <header class="profile-header">
        <h1>User Profile</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
        </ul>
    </nav>
    <main>
        <h2>Home Page</h2>
        <p>This is the home page content.</p>
        <button type="button" class="btn btn-primary">Learn More</button>

    </main>
</body>
</html>
{% endblock %}

