<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}
            <br>
            {{ form.password.label_tag }}
            {{ form.password }}
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
