<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}">
    <title>Register</title>

</head>
<body>
    <h1>Register</h1>

    <div class="container">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
