/* Styles for the Home Page Header */
.home-header {
    background-color: #3498db;
    color: #fff;
}

/* Styles for the Profile Page Header */
.profile-header {
    background-color: #e74c3c;
    color: #fff;
}
