{% extends 'base.html' %}
{% load static %}


{% block title %}Contact{% endblock %}

{% block content %}
<div class="container">
  <h1>Contact us</h1>

  {% if success %}
    <div class="alert alert-success">
        Your message has been successfully sent!
    </div>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
 </div>
    <link rel="stylesheet" href="{% static 'skillucketApp/css/custom.css' %}">
{% endblock %}
